
.baseText {
    color: #fff;
    font-family: var(--fontTextSerif);
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.27;
    opacity: 0;
    text-align: center;
    transform: translateY(50px);
    white-space: pre-wrap;
}